//Global
$bg-color: rgb(247,245,247);
$ps-blue-text: rgb(81,181,229);
$ps-button-color: rgb(6,162,236);


//Header
$header-text-color: rgb(182,182,182);
$button-border-color: rgba(6, 115, 167, 0.31);

//Footer
